<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dino Card</title>
    <link rel="shortcut icon" type="image/png" href="dd_logo.png"/>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/background.css" type="text/css" />
    <link rel="stylesheet" href="/styles/listingCard.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  </head>

  <body>
    <%- include('partials/_header') %>

    <main>
      <div class="card-fullpage">
        <div class="card-fullpage-info">
          <div class="card-fullpage-title">
              <!-- CHANGE -->
              <%= listing.name %>
          </div>
          <div class="favorites-and-price">
            <div class="dino-price">
              <!-- CHANGE -->
              $<%= listing.price.toLocaleString() %>
            </div>
            <div class="favorites">
              <i class="bi bi-heart-fill"></i>
              Add To Favorites
            </div>
            <div class="message-logo">
              <i class="bi bi-chat-dots-fill"></i>
              Send A Message!
            </div>
          </div>
          <div class="card-image-info">
            <div class="image-box">
              <!-- CHANGE -->
              <img src="<%= listing.picture %>" alt="dino-image">
            </div>
            <div class="image-info">
              <div class="user-avatar-info">
                <a href="/" class="avatar-link">
                  <div class="user-avatar">
                    <!-- CHANGE -->
                    <img src="<%= listing.user_pic %>" alt="avatar" id="avatar">
                  </div>
                  <div class="user-name">
                    <div class = "user-tag">
                      Seller:
                    </div>
                    <div class="user-name-box">
                      <!-- CHANGE -->
                      <%= listing.posted_user %>
                    </div>
                  </div>
                </a>
              </div>
              <div class="visits">
                <i class="bi bi-eye"></i>
                <div class="visits-tag">
                  Visits:
                </div>
                <div class="visits-number">
                  <!-- CHANGE -->
                  <%= listing.visits %>
                </div>
              </div>
              <div class="postal-code">
                <i class="bi bi-mailbox2"></i>
                <div class="postal-code-tag">
                  Postal Code:
                </div>
                <div class="postal-code-value">
                  <!-- CHANGE -->
                  123 ABC
                </div>
              </div>
              <div class="diet-type">
                <i class="bi bi-egg-fill"></i>
                <div class="diet-type-tag">
                  Diet Type:
                </div>
                <div clas="diet-type-value">
                  <!-- CHANGE -->
                  <%= listing.type %>
                </div>
              </div>
              <div class="time-period">
                <i class="bi bi-clock-fill"></i>
                <div class="time-period-tag">
                  Time Period:
                </div>
                <div class="time-period-value">
                  <!-- CHANGE -->
                  <%= listing.time_period %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-description">
            <div class="card-description-tag">
              Description:
            </div>
            <div class="card-description-value">
              <!-- CHANGE -->
              <%= listing.description %>
            </div>
          </div>
        </div>
    </main>

    <footer>
    </footer>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>

  </body>

</html>


