<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dino Card</title>
    <link rel="shortcut icon" type="image/png" href="dd_logo.png"/>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/background.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles/listingCard.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  </head>

  <body>
    <%- include('partials/_header') %>

    <!-- Message popup Modal -->
    <div class="modal fade" id="message_modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-0 pb-1">
            <h5 class="modal-title" id="exampleModalLabel">Contact seller </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <form action="/messages" method="POST">
            <div class="modal-body pt-0">
              <label for="user_message" class="form-label"></label>
              <textarea class="form-control" name="user_message" rows="3" placeholder="Type message"></textarea>
              <input type="hidden" name="listing_id" value="<%= listing.id %>">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline-primary">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <main>
      <div class="card-fullpage">
        <div class="card-fullpage-info">
          <div class="card-fullpage-title">
              <!-- CHANGE -->
              <%= listing.name %>
          </div>
          <div class="favorites-and-price">
            <div class="dino-price">
              <!-- CHANGE -->
              $<%= listing.price.toLocaleString() %>
            </div>
            <form action="/favorites/add/<%= listing.id %>" method="GET">
              <div class="favorites">
                <button type="submit" class="btn btn-med btn-outline-secondary" style="border-style: none;"> <i class="bi bi-heart-fill"></i> Add To Favorites</button>
              </div>
            </form>

            <div class="message-logo">
              <form action="#" method="GET">
                <!-- <button type="submit" class="btn btn-med btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#message_modal" style="border-style: none;">Send A Message!</button> -->
                <button type="submit" class="btn btn-med btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#message_modal" style="border-style: none;"> <i class="bi bi-chat-dots-fill"></i> Send A Message!</button>
              </form>
            </div>
          </div>
          <div class="card-image-info">
            <div class="image-box" style="width: 29vw; height: 20vw;">
              <!-- CHANGE -->
              <img src="<%= listing.picture %>" alt="dino-imag">
            </div>
            <div class="image-info">
              <div class="user-avatar-info">
                <a href="/" class="avatar-link">
                  <div class=" d-flex user-avatar">
                    <!-- CHANGE -->
                    <img src="<%= listing.user_pic %>" alt="avatar" id="avatar">
                  </div>
                  <div class="user-name d-flex flex-column">
                    <div class = "user-tag">
                      Seller:
                    </div>
                    <div class="user-name-box">
                      <!-- CHANGE -->
                      <%= listing.posted_user %>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-visits">
                <i class="bi bi-eye-fill"></i>
                <div class="visits-tag">
                  Visits:
                </div>
                <div class="visits-number">
                  <!-- CHANGE -->
                  <%= listing.visits %>
                </div>
              </div>
              <div class="postal-code">
                <i class="bi bi-mailbox2"></i>
                <div class="postal-code-tag">
                  Postal Code:
                </div>
                <div class="postal-code-value">
                  <!-- CHANGE -->
                  <%= listing.post_code %>
                </div>
              </div>
              <div class="diet-type">
                <i class="bi bi-egg-fill"></i>
                <div class="diet-type-tag">
                  Diet Type:
                </div>
                <div clas="diet-type-value">
                  <!-- CHANGE -->
                  <%= listing.type %>
                </div>
              </div>
              <div class="time-period">
                <i class="bi bi-clock-fill"></i>
                <div class="time-period-tag">
                  Time Period:
                </div>
                <div class="time-period-value">
                  <!-- CHANGE -->
                  <%= listing.time_period %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-description">
            <div class="card-description-tag">
              Description:
            </div>
            <div class="card-description-value">
              <!-- CHANGE -->
              <%= listing.description %>
            </div>
          </div>
        </div>
    </main>

    <footer>
      <%- include('partials/_footer') %>
    </footer>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>

  </body>

</html>


