<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search page</title>
  <link rel="shortcut icon" type="image/png" href="dd_logo.png"/>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body bg-light>

  <main>
    <%- include('partials/_header') %>

    <div class="container-fluid bg-light pt-3">
    <% for (let listing of listings) { %>
    <% const date = new Date(listing.date_posted); %>
    <% const datePosted = date.toISOString().substring(0, 10); %>



    <div class="container bg-light mt-5 align-items-center justify-content-center ">

        <div class="card mb-3  " style="max-width: 75%;">
          <div class="row g-0">
            <div class="col-4">
              <figure class="figure ms-4 mt-3 justify-content-center align-items-center">
                <img src="<%= listing.picture %>" class="img-thumbnail  img-rounded dino-img " alt="...">
                <figcaption class="figure-caption text-end"><%= listing.name %></figcaption>
              </figure>
            </div>
            <div class="col-8">
              <div class="card-body ms-3">
                <div class="row">
                  <div class="col-3"> <img src="<%= listing.user_pic %>" class="img-circle logo" alt="..."></div>
                  <div class="col-4"> </div>
                  <div class="col-2 "><a href="/listings/<%= listing.id %>" class="btn btn btn-outline-success active btn-sm  ms-5" style="background-color: #37D338;">View</a></div>
                  <div class="col-1"> </div>
                  <div class="col-2 mb-5 "><a href='/favorites/delete/<%= listing.favlisting_id %>'><h3><i class="bi bi-heart-fill fav-msg"></i></h3></a> </div>
                </div>
                <div class='visits'><i class="bi bi-eye-fill">&nbsp&nbsp<%= listing.visits %> visits</i> </div>
                <p class="card-text mt-3 small"><%= listing.description %></p>
                <p class="card-text mt-5"><small class="text-muted">Date posted: <%= datePosted %></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% } %>
  </div>
  </main>


  <footer>
    <%- include('partials/_footer') %>
  </footer>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>

</body>

</html>
